<div class="bg-img">
  <div class="font-weight-bold text-right" style="font-family: cursive;">{{date | date: 'MMM d, y h:mm a'}}</div>
<form #loginUser = "ngForm" class="container" (ngSubmit)="loginCreation(loginUser.value)">
  <div >
    <div class="row">
      <div class="col-5">
        <label id="lblEmail" class="float-left m-3">Email Address: <label class="text-danger">*</label></label>
      </div>
      <div class="col-7">
        <input id="txtEmail" type="text" name="emailAddress" class="m-3 float-left" ngModel>
      </div>
    </div>
    <div class="row">
      <div class="col-5"><label id="lblPassword" class="float-left m-3">Password: <label class="text-danger">*</label></label></div>
      <div class="col-7"><input type="password" id="txtPassword" name="passWord" ngModel class="m-3 float-left"></div>
    </div>
    <div class="row ">
      <div class="col-5"><button id="btnLogin" class="btn-info m-1 float-right">Login</button> </div>
        <div class="col-7"> <a class="float-left" style=" color: crimson;font-weight: bold;" routerLink="/register"><u>Don't have an account yet?</u></a>
      </div>
    </div>
  </div>
</form>
</div>

