<div class="bg-img">
<form #userRegsiter = "ngForm" class="container" (ngSubmit)="registerAccount(userRegsiter.value)">
  <div>
    <div class="row">
      <div class="col-12 m-3 font-weight-bold">Create your Nutrition Account</div>
    </div>
    <div class="row">
      <div class="col-6 "><label class="m-3 float-left">First Name: <label class="text-danger">*</label></label></div>
      <div class="col-6"><input type="text" id="txtFirstName" class="m-3 float-left" name="firstName" ngModel></div>
    </div>
    <div class="row">
      <div class="col-6"><label class="m-3 float-left">Last Name: <label class="text-danger">*</label></label></div>
      <div class="col-6"><input id="txtLastName" type="text" class="m-3 float-left" name="lastName" ngModel></div>
    </div>
    <div class="row">
      <div class="col-6">
        <label id="lblEmail" class="float-left m-3">Email Address: <label class="text-danger">*</label></label>
      </div>
      <div class="col-6">
        <input id="txtEmail" type="text" name="emailAddress" ngModel class="m-3 float-left">
      </div>
    </div>
    <div class="row">
      <div class="col-6"><label id="lblPassword" class="float-left m-3">Password: <label class="text-danger">*</label></label></div>
      <div class="col-6"><input type="password" id="txtPassword" name="passWord" ngModel class="m-3 float-left"></div>
    </div>
    <div class="row">
      <div class="col-6"><label id="lblRePassword" class="float-left m-3">Re-enter Password: <label class="text-danger">*</label></label></div>
      <div class="col-6"><input type="password" id="txtRePassword" name="rePassWord" ngModel class="m-3 float-left"></div>
    </div>
    <div class="row">
      <div class="col-5"><button id="btnRegister" type="submit" class="btn-info m-1 float-right">Register</button></div>
      <div class="col-7">
        <a class="float-left" style=" color: crimson;font-weight: bold;" routerLink="/login"><u>Login if already have account</u></a>
      </div>
    </div>
  </div>
</form>
</div>
